.boolean_value_container {
  width: 400px;
  .radio-group {
    display: inline-flex;
    flex-direction: row;
  }
  .radio-button {
    &:first-of-type {
      margin-right: 2em;
    }
    &:last-of-type {
      margin-left: 2em;
    }
  }
  mat-radio-button ::ng-deep .mat-radio-container {
    height: 2em;
    width: 2em;
  }
  mat-radio-button ::ng-deep .mat-radio-outer-circle {
    height: 2em;
    width: 2em;
  }
  mat-radio-button ::ng-deep .mat-radio-inner-circle {
    height: 2em;
    width: 2em;
  }
  mat-radio-button ::ng-deep .mat-radio-button .mat-radio-ripple {
    height: 4em;
    width: 4em;
    left: calc(50% - 2em);
    top: calc(50% - 2em);
  }
}

